<h1><%= current_user.email %> 님의 프로필입니다.</h1>

<%#= image_tag gravatar_url(current_user.email, 64), alt: @profile.name %>


<p>이름: <%= @profile.name %></p>
<p>주소: <%= @profile.address %></p>
<p>휴대폰 번호: <%= @profile.mobile %></p>
<p>생년월일: <%= @profile.birth %></p>


<p>
<%= link_to 'Edit', edit_profile_path %>
</p>

