<h1>채널을 선택하세요.</h1>
<hr>
<%= link_to 'ch.1', '#' %>     <!--TODO: 주소 지정-->
<%= link_to 'ch.2', '#' %>     <!--TODO: 주소 지정-->
<%= link_to 'ch.3', '#' %>     <!--TODO: 주소 지정-->
<hr>
<%= link_to '운동선택', '/notes/sports' %>
<%= link_to '메인으로', '/' %>
