<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Board</h1>
  <hr>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col", colspan="1">Title</th>
        <th scope="col", colspan="3">Content</th>
        <th scope="col">Writer</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @notes.each do |note| %>
        <tr>
          <td><%= note.title %></td>
          <td colspan="3"><%= note.content.html_safe %></td>
          <td><%= note.user_email %></td>
          <td><%= link_to 'Show', note %></td>
          <% if note.user == current_user %>
          <td><%= link_to 'Edit', edit_note_path(note) %></td>
          <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
      
    </tbody>
  
  </table>
  <%= paginate @notes %>
  
  
  <br>
  
  <%= link_to 'New Note', new_note_path %>
  <hr>
  <%= link_to '메인으로', '/' %>
</div>