<h1>Main</h1>
<hr>
<%= link_to "Lanking", "/notes/rank" %>
<%= link_to "ê²Œì‹œíŒ", "/notes" %>
<% if user_signed_in? %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Log in", new_user_session_path %> 
<% end %>
<hr>
<h2><%= link_to "Game Start", "/notes/sports" %></h2> 