<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>
<p>
  <strong>작성자:</strong>
  <%= @note.user_email_no %>
</p>
<hr />
<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>





<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>

<hr />
<form action='/comments' method='POST'>
  <input type='hidden' name='authenticity_token' value=<%= @token %>></input>
  <input type='hidden' name='note_id' value=<%= @note.id %>></input>
  <strong>Comment: </strong>
  <input type='text' name='input_content'></input>
  <input type='submit'></input>
</form>
<hr />
<% @note.comments.each do |comment| %>
  <p>
    작성자 : <%= comment.user_email_co %> | 내용 : <%= comment.content %> | 
    <a href='/comments/<%= comment.id %>'
       data-confirm='댓글을 삭제합니다.'
       data-method='DELETE'>
       --삭제--
    </a>
  </p>
<% end %>