<h1>운동을 고르세요</h1>
<hr>
<h6><%= link_to '축구(soccer)', '/notes/channelinfo' %></h6>
<h6><%= link_to '농구(basketball)', '/notes/forlater'%></h6> <!--TODO: 농구 탁구 배드민터 추후 수정-->
<h6><%= link_to '탁구(table tennis)', '/notes/forlater'%></h6> <!--TODO: 농구 탁구 배드민터 추후 수정-->
<h6><%= link_to '배드민턴(badminton)', '/notes/forlater'%></h6> <!--TODO: 농구 탁구 배드민터 추후 수정-->
<hr>
<%= link_to '메인으로', '/' %>
